asgiref
black
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
django-filter
djangorestframework
EasyProcess
entrypoint2
filelock
idna
Markdown
MouseInfo
mss
mypy-extensions
packaging
pathspec
Pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
pytz
requests
sqlparse
tzdata
urllib3
virtualenv